/* All @import statements must come first */
@import "@flamingo-stack/openframe-frontend-core/styles";
@import "@xterm/xterm/css/xterm.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input arrows (spinners) across browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
